.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.product-container {
    border-right: 1px solid lightgrey;
    margin-right: 5px;
    margin-left: 50px;
}

.cart-container{
    background-color:lightpink;
    margin-top: 5px;
    padding: 10px;
    
}
.cart-container h3 {
    text-align: center;
}

.cart-container h5{
    text-align: center;
}